<html>
<body>
<h1 align="center">Release Model Generator from User Stories</h1>
<p align="center">Upload your user story set in .txt format.</p>
<p align="center">It should contain one proper user story in each line.</p>
<p align="center">Then send it to get your optimal model.</p>
<form align="left "action="{{ url_for('solve_us') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="us_file"/><br>
    <select id="opt" name="opt">
        <option value="1">box</option>
        <option value="2" selected="true">lex</option>
        <option value="3">pareto</option>
    </select><br>
    <select id="opt2" name="opt2">
        <option value="1">2-layered (role)</option>
        <option value="2" selected="true">2-layered (topic)</option>
        <option value="3">3-layered</option>
    </select><br>
    <input type="submit"/>
</form>
</body>
</html>